<% @title = "Detail Roadmap" %>

<div class="container mt-5">
  <h3 class="h3 text-center mb-5"><i class="far fa-map light-blue-text"></i> <%= @title %></h3>

    <% if @current_user_roadmap %>
      <div class="text-right">
        <%= link_to "ロードマップ編集", roadmap_edit_path, class: "btn btn-info btn-rounded" %>
      </div>
    <% end %>

  <h1><%= @roadmap_header.title %></h1>
  <hr>
  <% @roadmap_details.each do |r| %>
    <div class="card">
      <div class="card-header">
        <%= r.sub_title %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= r.content %></li>
      </ul>
    </div>
  <% end %>
</div>