<% @title = "Edit Roadmap" %>

<div class="container mt-5">
  <h3 class="h3 text-center mb-5"><i class="far fa-map light-blue-text"></i> <%= @title %></h3>

      <%= form_for(@roadmap_post, url: roadmap_update_path, class: "text-center border border-light p-5" ) do |r| %>
        <%= render "devise/shared/error_messages", resource: @roadmap_post %>

        <%= r.text_field :title, class: "form-control mb-4", placeholder: "タイトル" %>

        <div>
          <%= r.fields_for :roadmap_detail do |rd| %>
            <%= rd.text_field :sub_title, class: "form-control mb-4", placeholder: "サブタイトル" %>

            <div class="field">
              <%= rd.label :content %>
              <%= rd.rich_text_area :content, placeholder: "内容"  %>
            </div>
          <% end %>
        </div>

        <div>
          <%= r.submit @title, class: "btn btn-info btn-block" %>
        </div>
      <% end %>

  <br><br>

  <%= link_to "Delete Roadmap", roadmap_destroy_path(@roadmap_post.id), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn btn-blue-grey waves-effect" %>
</div>
